html, body {margin: 0px; padding: 0px;}
#main, #options {
  margin: 5px 30px 40px 30px; 
  width: 169px; height: 272px;
}
#main section, #options section {
  margin-bottom: 9px;
}
.options_label{
  color: #666;
}
.options_label i {
  margin-right: 2px;
}
 .options_label:hover{
  text-decoration:none;
 }
.options_label span{
  text-decoration: underline;
}
#state a{
  width: 151px; text-align:left;
}
#state a i{
  margin-right: 4px;
}
#dial_num input{
  width: 127px;
}
#numpad table td a{
  width: 27px; font-weight: bold;
}
#numpad table td:first-child{
  padding-left: 0;
}
#numpad table td{
  padding: 5px;
}
#content {
  position: relative;
}
#message-up {
  position: absolute;
  left:0; top: 5px;
  width: 169px; height: 175px;
  background-color: rgba(100,100,100, 0.9);
}
#message-up div.alert{
  margin-top: -5px;
}
#intalk div.alert{
  margin-bottom: 9px;
}
#options input {
  width: 161px;
}
#clear_call {
  display:block;
}